@import "./../../styles/tokens.css";

/* main */

.WraperLogin{
  min-height: 100vh;
}
.mainContainerLogin{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* left side og login page */

.loginLeftSideImage{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.imgLogo{
    width: var(--logo-L);
}

.dogImg{
    width: 100%;
    flex: 1;
    object-fit: cover;
    min-height: 0;
}

/* right side of login page */

.loginRightSide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--color-background);
}

.loginForm{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm input{
   display: flex;
   margin: 0.5rem;
   padding: var(--input-padding-S);
   width: clamp(140px, 30vw,320px);
   font-size: clamp(8px, 4vw, 16px);
   border-radius: var(--radius-S);
   font-family: var(--font-family-Cormorant-Garamond);
   font-weight: var(--font-weight-M);
   border: none;
   box-shadow: 0 0 2px rgb(15, 15, 15);
   transition: transform 0.2s ease;
}
.loginForm input:hover{
    transform: scale(1.01);
}

.loginButton{
    margin-top: 0.5rem;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    padding: var(--button-padding-S);
    width: clamp(140px, 30vw, 320px);
    background-color: var(--color-button);
    border-radius: var(--radius-S);
    border: none;
    box-shadow: 0 0 2px rgb(28, 89, 40);
    font-size: clamp(8px, 4vw, 16px);
    font-family: var(--font-family-Cormorant-Garamond);
    font-weight: var(--font-weight-L);
    color: var(--color-font-light);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.loginButton:hover{
    transform: scale(1.01);
     background-color: var(--color-primary-hover);
}

.loginForm img{
    width: clamp(140px, 20vw, 250px);
    display: flex;
}

/* Demo Section */
.loginDemoInfo{
      height: 100%;
    right: 0;
    position: absolute;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--color-danger);
    line-height: var(--line-height-S);
    pointer-events: none;
}
.loginDemoButton,
.loginDemoDropdownFileds {
    pointer-events: auto;
}

.loginDemoButton{
    border: none;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
    transition: transform 0.2 ease;
    padding: 0.3rem;
    font-weight: var(--font-weight-M);
    font-size: var(--font-size-S);
}   
.loginDemoButton:hover{
    transform: scale(1.02);
}

.loginDemoDropdown{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
.loginDemoDropdownFileds{
    padding: 0.5rem;
    padding-right: 1rem;
    font-weight: var(--font-weight-M);
    cursor: pointer;
    font-size: var(--font-size-S);
}

/* @media (max-width: 700px) {
   

    

    .loginDemoDropdown {
        width: 100%;
        max-width: 320px;
    }

   
} */