.dashboardCointainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dashboardCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0 1rem;
}

.dashboardCointainerUppdates {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 0 1rem 1rem;
}


/* Mobile */
@media (max-width: 768px) {

    .dashboardCointainerUppdates {
        grid-template-columns: 1fr;
    }

}