.topbar {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-background-topbar);
  border-bottom: 1px solid var(--color-border);
}

.topBarLogo{
  width: var(--logo-S);
}

.topBarUserInfoCointainer{
  display: flex;
  flex-direction: column;
  position: relative;
}

.topBarprofileAvatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgb(147, 147, 147);
  object-fit: cover;
  position: relative;
  top: 0.4rem;
}

.topbarUsername{
  font-weight: var(--font-weight-L);
  font-size: var(--font-size-S);
}
.topbarUserTitle{
  font-weight: var(--font-weight-M);
  color: var(--color-sidebar);
  font-size: var(--font-size-S);
}

.topBarButton{
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  line-height: var(--line-height-S);
  cursor: pointer;
}
.topBarButton:hover{
  transform: scale(1.02);
}

.topBarProfileDropdown{
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.topBarProfileDropdown button{
  background-color: var(--color-background-topbar);
  border: none;
  padding: 0.6rem;
  padding-right: 3rem;
  box-shadow: -2px 4px 4px rgb(207, 207, 207);
  font-weight: var(--font-weight-M);
  color: var(--color-sidebar);
  font-size: var(--font-size-S);
}

.topBarProfileDropdown button:hover{
  background-color: var(--color-sidebar-hover-light) ;
  transform: scale(1.04);
}