/* =========================================================
   Animal Rescue Design System
   Version 1.0
========================================================= */

:root {
  /* ======================================
     COLORS
  ====================================== */

  --color-primary: rgb(63, 118, 82);
  --color-primary-hover: rgb(49, 74, 61);
  --color-primary-light: rgb(231, 241, 234);
  
  --color-sidebar-hover: rgb(53, 102, 70);
  --color-sidebar-hover-light: rgb(126, 183, 122);
  --color-sidebar: rgb(37, 56, 47);
  --color-sidebar-active: rgb(66, 107, 81);

  --color-background: rgb(248, 247, 243);
  --color-background-topbar: rgb(241, 243, 239);
  --color-surface: rgb(255, 255, 255);
  --color-surface-muted: rgb(241, 244, 239);

  --color-text: rgb(31, 41, 35);
  --color-text-muted: rgb(111, 123, 115);
  --color-text-muted-dark: rgb(88, 99, 92);
  --color-text-white: rgb(255, 255, 255);

  --color-border: rgb(223, 229, 220);
  --color-border-dark-gray: rgb(116, 144, 116);
  --color-border-green: rgb(99, 140, 96);
  --color-border-dark-green: rgb(27, 201, 15);
  

  --color-success: rgb(63, 143, 92);
  --color-warning: rgb(201, 137, 43);
  --color-danger: rgb(239, 68, 68);
  --color-info: rgb(63, 127, 186);

  --color-button: rgb(71, 105, 81);
  --color-font-light: rgb(245, 245, 245);
  --color-font-black: rgb(15, 15, 15);

  /* cards color */

  --color-cards-darkGreen: rgb(37, 56, 47);
  --color-cards-lightGreen:  rgb(231, 241, 234);

  --color-cards-darkRed: #b70b22;
  --color-cards-lightRed:  #faeded;

  --color-cards-darkBlue: #2473ea;
  --color-cards-lightBlue:   #eaf2fa;

  --color-cards-darkOrange:  #e2991b;
  --color-cards-lightOrange:    #fde5c5;

  --color-cards-darkYellow:   #c3c010;
  --color-cards-lightYellow:    #fdfdd6;

  --color-cards-darkPurple: #7b3fa1;
  --color-cards-lightPurple: #f1e5f7;

  --color-cards-darkPink: #c0447a;
  --color-cards-lightPink: #fbe4ee;

  /* statusBadge color */

  --color-statusBadge-green-font: #2e7d32;
  --color-statusBadge-green-background: #dff6dd;

  --color-statusBadge-gray-font: #555;
  --color-statusBadge-gray-background: #ececec;

   --color-statusBadge-brown-font: #b7791f;
   --color-statusBadge-brown-background: #fff4d6;

   --color-statusBadge-red-font: #c62828;
   --color-statusBadge-red-background: #fde2e2;

   --color-statusBadge-blue-font: #1565c0;
   --color-statusBadge-blue-background: #ddeeff;
   
   --color-statusBadge-purple-font: #6b3fa0;
   --color-statusBadge-purple-background: #f0e6fa;
   --color-statusBadge-purple-border: #9b72cf;

  /* ======================================
     TYPOGRAPHY
  ====================================== */

  --font-family: "Inter", sans-serif;
  --font-family-Cormorant-Garamond: "Cormorant Garamond", serif;

  --font-size-XS: 8px;
  --font-size-S: 13px;
  --font-size-M: 16px;
  --font-size-L: 20px;
  --font-size-XL: 30px;

  --font-weight-regular: 400;
  --font-weight-M: 600;
  --font-weight-L: 800;
  --font-weight-XL: 900;

  --line-height: 1.5;
  --line-height-S: 0.5;
  --line-height-XS: 0.1;



  /* ======================================
     BORDER RADIUS
  ====================================== */
  --radius-XS: 2px;
  --radius-S: 4px;
  --radius-M: 7px;
  --radius-L: 50%;
  --radius-Sidebar-expand: 14px;


  /* ======================================
     LAYOUT
  ====================================== */

  --sidebar-width: 250px;
  --topbar-height: 64px;

  /* ======================================
     ICONS
  ====================================== */

  --icon-S: 14px;
  --icon-M: 18px;
  --icon-L: 25px;

  /* ======================================
     LOGO
  ====================================== */

  --logo-S: 140px;
  --logo-M: 250px;
  --logo-L: 300px;
}
