/* Today button */
.calendarMainContainer :global(.fc-today-button) {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-S);
}

/* Previous and next buttons */
.calendarMainContainer :global(.fc-prev-button),
.calendarMainContainer :global(.fc-next-button) {
    background-color: var(--color-primary);
    border: none;
}

/* Hover */
.calendarMainContainer :global(.fc-button:hover) {
    background-color: var(--color-primary-hover);
}

.calendarContainer{
    padding: 2rem;
    margin: 3rem;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-M);
}


/* media query */
@media (max-width: 768px) {

    .calendarContainer {
        margin: 1rem;
        padding: 1rem;
    }

    /* Calendar title */
    .calendarMainContainer :global(.fc-toolbar-title) {
        font-size: 1.2rem;
    }

    /* Calendar buttons */
    .calendarMainContainer :global(.fc-button) {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
    }

    /* Weekday names */
    .calendarMainContainer :global(.fc-col-header-cell-cushion) {
        font-size: 0.75rem;
    }

    /* Day numbers */
    .calendarMainContainer :global(.fc-daygrid-day-number) {
        font-size: 0.75rem;
    }

    /* Events */
    .calendarMainContainer :global(.fc-event) {
        font-size: 0.5rem;
    }

}