/* Sidebar header */
.sidebarMain{
    display: flex;
    flex-direction: column;
    background-color: var(--color-sidebar);
    height: 100vh;
    font-weight: var(--font-weight-L);
    transition: width 0.5s ease;
}
.sidebarLogo{
   width: 100%;
   max-width: 220px;
   height: auto;
   align-self: center;
}
.sideBarLineBig{
    border-bottom: 1px solid var(--color-text-white);
    width: 210px;
    margin-left: 10px;
}
.sideBarLineSmall{
    border-bottom: 1px solid var(--color-text-white);
    width: 50px;
    margin-left: 8px;
}


/* sidebar button */
.sidebarButton {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 2.0rem;
  height: 2.0rem;
  padding: 0;
  border: 2px solid var(--color-sidebar-hover-light);
  border-radius: 50%;
  color: var(--color-button);
  background-color: var(--color-text-white);
  top: -15px;
  left: 15px;
  transition: transform 0.2s ease;
}
.sidebarButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* sidebar Links */
.sideBarNav{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-size: var(--font-size-M);
}
.sidebarLink {
    display: flex;
    align-items: center;
    color: var(--color-text-white);
    gap: 1rem;
    text-decoration: none;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}
.sidebarLinkActive {
    background-color: var(--color-primary);
}


/* Expanded sidebar */
.sidebarLinkExpanded {
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 30px;
    padding: 8px;
    border-radius: 30px;
}
.sidebarLinkExpanded:hover {
    background-color: var(--color-sidebar-hover);
    transform: scale(1.05);
}
.sidebarExpanded {
    width: var(--sidebar-width);
}


/* Collapsed sidebar  */
.sidebarLinkCollapsed {
    width: 2.75rem;
    height: 2.75rem;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.sidebarLinkCollapsed:hover {
    background-color: var(--color-sidebar-hover);
    transform: scale(1.05);
}
.sidebarCollapsed {
    width: 80px;
}



