.addAnimalMainContainer {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.addAnimalContainer {
  background: white;
  width: 600px;
  max-width: 100%;
  max-height: calc(100dvh - 2rem);
  overflow-y: auto;
  padding: 1rem;
  border-radius: var(--radius-S);
  display: flex;
  flex-direction: column;
}
.addAnimalForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.addAnimalContainerTitle h1[type="h1"]{
  font-size: var(--font-size-L);
  font-weight: var(--font-weight-L);
}
.addAnimalForm label{
  font-size: var(--font-size-M);
  font-weight: var(--font-weight-L);
  margin-top: 0.8rem;
}

/* textarea styles */
.addAnimalForm textarea{
  padding: 0.4rem;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-M);
  font-family: var(--font-family-Cormorant-Garamond);
  font-size: var(--font-size-M);
  font-weight: var(--font-weight-L);
}
.addAnimalForm textarea:focus {
  border-color: var(--color-border-green) 
}
.addAnimalForm textarea:hover{
  scale: calc(1.02);
}

/* select styles */
.addAnimalForm select{
  padding: 0.4rem;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-M);
  font-family: var(--font-family-Cormorant-Garamond);
  font-size: var(--font-size-M);
  font-weight: var(--font-weight-L);
}
.addAnimalForm select:focus {
  border-color: var(--color-border-green) 
}
.addAnimalForm select:hover{
  scale: calc(1.02);
  cursor: pointer;
}

/* inputs styles */
.addAnimalForm input{
  flex: 1;     
  min-width: 140px;      
  padding: 0.4rem;
  border: 2px solid var(--color-border);
  border-radius: var(--radius-M);
  font-family: var(--font-family-Cormorant-Garamond);
  font-size: var(--font-size-M);
  font-weight: var(--font-weight-L);
  outline: none;
}
.addAnimalForm input:focus {
  border-color: var(--color-border-green) 
}
.addAnimalForm input:hover{
  scale: calc(1.02);
  cursor: pointer;
}

/* checkbox */
.addAnimalFormCheckbox {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkboxGroup label {
  margin-top: 0;
}

.addAnimalForm input[type="checkbox"] {
  flex: 0;
  min-width: auto;
  width: 20px;
  height: 20px;
  margin: 0;
  accent-color: var(--color-primary);
  cursor: pointer;
  transform: scale(1.6);
}

/* Dog image buttons selection */
.addAnimalModalImg {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.imageButton {
  width: 70px;
  height: 90px;
  padding: 0;
  border: 2px solid transparent;
  border-radius: var(--radius-M);
  background: transparent;
  cursor: pointer;
}

.imageButton img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: var(--radius-M);
}

.imageButton img:hover {
  scale: 1.05;
}

.selectedImage {
  border-color: var(--color-danger);
}


/* Show more / show less img button */
.imageGalleryToggleButton {
  border: 2px dashed var(--color-border);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.imageGalleryToggleButton:hover {
  border-color: var(--color-border-green);
}

.imageGalleryToggleButton span {
  display: block;
  font-size: 2rem;
  color: var(--color-text-muted-dark);
}

.imageGalleryToggleButton small {
  display: block;
  font-size: 0.7rem;
  line-height:var(--line-height);
  color: var(--color-text-muted-dark);
}


/* button cancel submit container */
.addAnimalContainerButtonsCancelSubmit{
  display: flex;
  align-self: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* cancel button */
.addAnimalContainerCancelButton {
  width: 140px;      
  padding: 0.75rem;
  border: 2px solid var( --color-text-muted);
  border-radius: var(--radius-M);
  background-color: var(--color-surface-muted);
  font-family: var(--font-family-Cormorant-Garamond);
  font-size: 18px;
  font-weight: var(--font-weight-L);
  color: var(--color-text-muted);
}
.addAnimalContainerCancelButton:hover{
  scale: calc(1.02);
  cursor: pointer;
}

/* submit button */
.addAnimalContainerSubmitButton {
  width: 140px;      
  padding: 0.75rem;
  border: 2px solid var( --color-border-green);
  border-radius: var(--radius-M);
  background-color: var(--color-button);
  font-family: var(--font-family-Cormorant-Garamond);
  font-size: 17px;
  font-weight: var(--font-weight-L);
  color: var(--color-font-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.addAnimalContainerSubmitButton:hover{
  scale: calc(1.02);
  cursor: pointer;
}

/* scrollbar style */
.addAnimalContainer::-webkit-scrollbar {
  width: 8px;
}

.addAnimalContainer::-webkit-scrollbar-track {
  background: transparent; 
}

.addAnimalContainer::-webkit-scrollbar-thumb {
  background: var(--color-sidebar-hover);
  border-radius: var( --radius-S);  
}

.addAnimalContainer::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}