@import "./styles/tokens.css";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family-Cormorant-Garamond);
}

#root {
    display: flex;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}